@{
    ViewData["Title"] = "ContactUs";
}
<h1>@ViewData["Title"]</h1>
<p>Enter Your Contact Details Here</p>
 Name
<input type="text" placeholder="name" />
Email
<input type="text" placeholder="email" />